.layoutContainer {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.body {
  overflow: hidden;
  flex: 1;
  display: flex;
}
.main {
  flex: 1;
  overflow: auto;
}
